# Points
1. Dictionary is an unordered set of key and value. Together key and value is called Item. 
2. We use curly braces in dictionary.
3. The key passed in Item must be unique.
4. Key and value are separerated by colon (:) and items are separated by comma (,)
5. Dictionary is MUTABLE i.e. value can be updated or changed.
6. Accessing dictionary values - d[1] and d['c'] where d is dictionary name and 1 or 'c' is key
7. To access all keys d.keys()
8. Update values with the help of keys
9. Delete elements with del
10. Dictionary built-in functions
11. Dictionary methods

In [14]:
d = {1:'rutul','b':'pavan',5:'harsh','a':'hrithik','sreejesh':54}

In [15]:
d.keys()

dict_keys([1, 'b', 5, 'a', 'sreejesh'])

In [16]:
d['sreejesh']

54

In [17]:
d[5]

'harsh'

In [18]:
for i in d.keys():
    print(d[i])

rutul
pavan
harsh
hrithik
54

In [19]:
d['b']='jay'

In [20]:
for i in d.keys():
    print(d[i])

rutul
jay
harsh
hrithik
54

In [21]:
del d['a']

In [22]:
for i in d.keys():
    print(d[i])

rutul
jay
harsh
54

## Built-in functions  syntax : functionname(dictionaryname)
0. d is some dictionary
1. len(d) : will return length of dictionary
2. str(d) : produces a printable string representation of dictionary
3. type(d) : shows type of d as dictionary

In [23]:
print(d)

{1: 'rutul', 'b': 'jay', 5: 'harsh', 'sreejesh': 54}

In [24]:
print(str(d))

{1: 'rutul', 'b': 'jay', 5: 'harsh', 'sreejesh': 54}

In [25]:
len(d)

4

In [26]:
type(d)

dict

## Methods of dictionary syntax : dictionaryname.methodname()
0. d is some dictionary. d1 and d2 are also dictionaries.
1. d.clear() : clears all elements of dictionary
2. d.copy() : return a copy of d
3. d.fromkeys(seq) : creates new dictionary with seq(seq can be list or tuple)
4. d.items() : returns all items 
5. d.keys() : returns all keys
6. d1.update(d2) : updates d1 as specified in d2
7. d.values() : return all values in d

In [27]:
p = d.copy()

In [28]:
p

{1: 'rutul', 'b': 'jay', 5: 'harsh', 'sreejesh': 54}

In [31]:
a = {1:'hello',2:'world','a':'python'}
a

{1: 'hello', 2: 'world', 'a': 'python'}

In [35]:
t = (5,2,'a')
a.fromkeys(t)

{5: None, 2: None, 'a': None}

In [36]:
# some value given
t = (5,2,'a')
a.fromkeys(t,10)

{5: 10, 2: 10, 'a': 10}

In [37]:
d.items()

dict_items([(1, 'rutul'), ('b', 'jay'), (5, 'harsh'), ('sreejesh', 54)])

In [40]:
d.keys()

dict_keys([1, 'b', 5, 'sreejesh'])

In [41]:
L = list(d.keys())
L

[1, 'b', 5, 'sreejesh']

In [42]:
d1 = {1:'rook',2:'knight',3:'bishop'}
d1

{1: 'rook', 2: 'knight', 3: 'bishop'}

In [43]:
d2 = {1:'king',3:'pawn'}

In [44]:
d1.update(d2)

In [45]:
d1

{1: 'king', 2: 'knight', 3: 'pawn'}